.DS_Store

run/
packets/**/run

logs/
packets/**/logs

npm-debug.log
packets/**/npm-debug.log

node_modules
packets/**/node_modules/

coverage/
packets/**/coverage/

.idea/
packets/**/.idea/

package-lock.json
packets/**/package-lock.json

heapsnapshot
packets/**/heapsnapshot

files
packets/**/files

.nyc_output

lerna-debug.log
.config

**/__tests__/config
**/__tests__/app
**/__tests__/app
**/__tests__/src

app
config
env

packages/docs/docs/.vuepress/dist